@import "./scss/functions";
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/root";
@import "./scss/reboot";

* {
    box-sizing: border-box;
}

body {
    font: 100% $font-primary;
    color: $black-primary;
    background-color: #0D0D0D;
    border: 0px;
}

    