@mixin link-title($color) {
    &:nth-child(1) a{
        color: $color;
        font-weight: 800;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $color;
        }
    }
}

@mixin item-focus($color: $purple_primary){
    .input {
        &:focus {
            border-bottom: 4px solid $color;
            outline: 0;
            box-shadow: 0 -20 0 0 $color;
            transition: ease-in-out;
            transition-duration: 120ms;
        }
    }

    .input-area {
        &:focus {
            border: 2px solid $color;
            outline: 0;
            box-shadow: 0 0 0 0.20rem rgba($color, 0.4);
            transition: ease-in-out;
            transition-duration: 120ms;
        }
    }

}

@mixin container($width-container: 1320px, $width-device: 1400px){
    @media (max-width: $width-device){
        .container {
            max-width: $width-container;
        }
    }
}

@mixin form-input-pattern () {
    .input, .input-area {
        border: none;
        background-color: inherit;
        padding: 5px 1.4rem;
    }
}

@mixin form-label-pattern() {
    .input-label {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 0.5rem;
        color: $black_secondary;
    }
}