@mixin range-track(){
    &::-webkit-slider-runnable-track { /** Represta a trila por onde o indicador desliza. */
        @content;
    }

    &::-moz-range-track { /** Represta a trila por onde o indicador desliza. */
        @content;
    }

}

@mixin ms-range-track() {
    &::-ms-track {
        @content;
    }
}

@mixin range-track-focus(){
    &:focus::-webkit-slider-runnable-track {
        @content;
    }

    &:focus::-moz-range-track {
        @content;
    }
}

@mixin range-thumb(){
    &::-ms-thumb { /* Represta o indicador de posição que se move pela trilha. */
        @content;
    }

    &::-moz-range-thumb { /* Represta o indicador de posição que se move pela trilha. */
        @content;
    }

    &::-webkit-slider-thumb { /* Represta o indicador de posição que se move pela trilha. */
        -webkit-appearance: none;
        margin-top: -3.6px;
        @content;
    }
}


@mixin ms-fill {
    &::-ms-fill-lower {
        @content;
    }

    &::-ms-fill-upper {
        @content;
    }
}

@mixin ms-fill-focus {
    &:focus::-ms-fill-lower {
        @content;
    }

    &:focus::-ms-fill-upper {
        @content;
    }
}


@mixin theme-buttons($primary_color, $hue_rotate: 120deg, $btn_dark_percent: 30%){
    $other_color: adjust-hue($primary_color, $hue_rotate);
    $secondary_color: adjust-hue($primary_color, $hue_rotate + 60deg);
    $other-color_two: adjust-hue($primary_color, $hue_rotate + 30deg);

    
    .btn-primary {
        @include color_adjust($primary_color, 0%);
    }

    .btn-secondary {
        @include color_adjust($secondary_color, $btn_dark_percent);
    }

    .btn-other {
        @include color_adjust($other_color, $btn_dark_percent);
    }

    .btn-other-two {
        @include color_adjust($other-color_two, $btn_dark_percent);
    }

}

@mixin color_adjust($color, $dark_percent){
    background-color: darken($color, $dark_percent);
    border-color: darken($color, 20%);
    
    @if lightness($color) < 50% { /* Se a cor do button possuir claridade menor que 70% a cor é igual a branco.*/
        color: white;
    }

    &:hover {
        background-color: lighten(saturate($color, 20%), 10%);
        border-color: saturate($color, 50%);
    }
}