/* Variaveis de cor */
$white_primary:                 #FFFFFF;
$white_secondary:               #F2F2F2;
$black_primary:                 #0D0D0D;
$black_secondary:               #1A1A1A;
$grey_primary:                  #C9C9C9;
$grey_secondary:                #54565B;
$yellow_primary:                #F2CB07;
$yellow_secondary:              #FAD41B;
$purple_primary:                #4C25D9;

/* Fontes do e-commerce */
$font-primary:                  'Mukta', sans-serif;
