@import './_base';
@import './mixins';


body {
    padding: 30px;
}

.range-input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0px;
    width: 100%;

    &:focus {
        outline: none;
      }

    @include range-track() {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        border-radius: 25px;
        border: $track-border;
        box-shadow: $range_shadow;
        background: $grey_primary;
        animate: 0.2s;   
    }

    @include ms-range-track() {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
    }

    @include range-thumb() {
        box-shadow: $range_shadow;
        border: $thumb-border;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: $grey_secondary;
        cursor: pointer;
    }

    @include range-track-focus(){
        background-color: #b3b3b3;
    }

    @include ms-fill() {
        background: $grey-secondary;
        border: $track-border;
        border-radius: 50px;
        box-shadow: $range_shadow;
    }

    @include ms-fill-focus() {
        background-color: $white_secondary;
    }
}

.btn {
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 3px 12px;
    color: black;

    &:hover:not([disabled]) {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    
    &:disabled {
        opacity: 0.5;
    }
}

.theme-1 {
    @include theme-buttons($yellow-primary);
}

